.tac { text-align: center; }

h1 {
  position: relative;
  white-space: nowrap;
  padding-left: 12px;
  -webkit-animation: slideIn 1s ease-out;
}
h1:before {
  position: absolute;
  content: '';
  bottom: -0px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(230, 90, 90);
  -webkit-animation: slideIn 1s ease-out;
}
h1:after {
  content: "";
  display: block;
  height: 2px;
  background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
  -webkit-animation: slideIn 1s ease-out;
}
h1 a { text-decoration: none;}
h1 a:hover { text-decoration: underline;}
h1 a:link { color: #000; }
h1 a:visited { color: #000; }

@-webkit-keyframes slideIn {
  0%   { padding-left:100%; }
  100% { padding-left:0%; }
}

.upload { width:50%; float:left; }
.upload form[type='submit'] { display: inline; }
.upload input { color: #fff; }
.upload input { padding: 8px; border: double 4px #fff; }
.upload input[type='file'] { width:70%; background-color: #06d; }
.upload input[type='submit'] { width:22%; padding:0.8em; background-color: #060; }
.uploaded-info input[type='submit'] { color: #eee; background-color: #fa0; }
.uploaded-files input[type='submit'] { color: #eee; background-color: #d00; }

.system-info { width:40%; display:inline-block; }
.system-info .disk-total {
  width: 21em;
  background-color: #000;
  border-style: ridge;
}
.system-info .disk-used  {
  color: #FFF;
  background-color: #e55;
  white-space: nowrap;
}

.description { font-size: 0.4em; clear:both; }
.description span { padding:0.2em; }
.description span:before { content:"- "; }

span.error  { font-size: 0.8em; color: #e00; }
span.notice { font-size: 0.8em; color: #0a0; }

table {
  font-size: 0.8em;
  width: 99%;
  border: solid 1px #bbb;
  border-collapse: collapse;
}
table td, th {
  padding: 4px;
  border: solid 1px #bbb;
}
table tr:nth-child(odd) { background-color: #eee }

.uploaded-info   { padding: 8px 2% 24px 8px; clear:both; }
.uploaded-count  { float:left; }
.uploaded-search { float:right; }
.uploaded-files  { margin: 8px; }
